<footer class="px-6 py-10 pl-24 md-max:px-6 max-w-[1430px] w-full relative z-50" aria-label="Site Footer">
	<nav class="mx-auto max-w-8xl mt-14" aria-label="Footer Navigation">
		<ul class="list-none flex justify-end space-x-12 text-lg font-semibold sm-max:space-x-3 sm-max:justify-between">
			<li>
				<a href="" class="hover:text-accent-blue hover:transition hover:duration-1000" aria-label="Legal Notice">Legal Notice</a>
			</li>
			<li>
				<a href="" class="hover:text-accent-blue hover:transition hover:duration-500 hover:ease-in-out" aria-label="Data Protection">Data Protection</a>
			</li>
			<li>
				<a href="" class="hover:text-accent-blue hover:transition hover:duration-500 hover:ease-in-out" aria-label="Contact">Contact</a>
			</li>
		</ul>
	</nav>
</footer>
