 
	<!-- Branding tab start -->
	<div id="tabContent" class="tab-content home flex-1 transition-all duration-1000 px-14 2xl-max:px-0 max-w-[1500px] mx-auto" style="transition: width 0.3s ease" aria-label="branding" data-tab="branding">
		<div
			class="content-area pb-6 h-full desktop-margin md-max:pl-0" id="content-area">
			<!-- Branding Grid -->
			<div
				class="flex flex-row flex-wrap gap-7 transition-all duration-1000 w-full md-max:pr-6 pl-6 z-0 relative">
				<!-- Branding Card 1 -->
				<div class="asset-card w-[312px] shadow-xl rounded-2xl overflow-hidden active" aria-label="Branding Card">
					<div class="relative flex bg-[#99BFDB] items-center justify-center">
						<img src="{{ asset('build/images/pdf.png') }}" alt="" class="w-full max-h-44 object-contain text-center"/>
						<button class="open-assets pdf capitalize absolute text-center text-[14px] font-black -translate-x-8 translate-y-2 bg-black text-white py-3 px-8 rounded-lg">
							open asset
						</button>
						<div class="absolute top-2 left-2 bg-white rounded-full p-1 cursor-pointer">
							<img src="{{ asset('build/images/svg/select-green.svg') }}" alt="Select">
						</div>
						<div class="pt-[14px] text-center gap-1 flex flex-col items-center bg-white w-24 h-48">
							<div class="font-black text-lg uppercase">PDF</div>
							<div class="bg-tints-light-blue rounded-[4px] px-[7.5px] w-fit">
								DE
							</div>
							<button class="my-2">
								<img src="{{ asset('build/images/Share Icon.png') }}" class="h-12 w-12 object-cover openShareModal" alt=""/>
							</button>
							<button class="openDownloadModal">
								<img src="{{ asset('build/images/Download Icon.png') }}" alt=""/>
							</button>
						</div>
					</div>

					<p class="px-3 py-[14px]">
						Hier steht als Beispiel der sehr lange Dateiname der Datei
					</p>
				</div> 
			</div>
		</div>
	</div>
	<!-- Branding Tab end -->
 
